footer {
  margin: 2rem 0 0 0;
  background-color: #eaeaea;
  height: 500px;
}

footer h2 {
  font-size: 1rem;
  border-bottom: 1px solid #B7B7B7;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding-bottom: .5rem;
  line-height: 1.5;
  padding-top: 1rem;
  text-transform: capitalize;
}

footer nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

footer nav > div {
  width: 25%;
}

footer a,
footer a:hover,
footer a:visited {
  color: black;
  text-decoration: none;
}

footer li {
  margin: 1rem 0 .5rem 0;
  font-size: .875rem;
}

footer .social-links {
  display: flex;
}

footer .social-links .MuiListItem-root {
  width: unset;
  margin-right: .75rem;
}

.black-bar-footer {
  background-color: black;
  height: 32px;
  color: white;
}

.black-bar-footer p {
  padding: .5rem 0;
  text-align: center;
}
