.media-adj-text-content  {
  display: flex;
  align-items: center;
}

.media-adj-text-content h2, 
.media-adj-text-content h3 {
  margin: 0;
  padding: .5rem 0;
}

.media-adj-text-content h2 {
  font-size: 1.5rem;
}

.media-adj-text-content h3 {
  font-size: 1.25rem;
}

.media-adj-text-content.text-left .media-wrapper {
  order: 1;
}

.text-wrapper,
.media-wrapper {
  width: 50%
}

.text-wrapper {
  padding-left: 2rem;
  padding-right: 0;
}

.text-wrapper.padding-right {
  padding-left: 0;
  padding-right: 2rem;
}
