.media-adj-text-content  {
  display: flex;
  align-items: center;
}

.media-adj-text-content h2, 
.media-adj-text-content h3 {
  margin: 0;
  padding: .5rem 0;
}

.media-adj-text-content h2 {
  font-size: 1.5rem;
}

.media-adj-text-content h3 {
  font-size: 1.25rem;
}

.text-wrapper,
.media-wrapper {
  width: 50%
}

.text-wrapper {
  padding-left: 2rem;
}

.list-group-component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.list-group-component h3 {
  width: 100%;
  font-size: 1rem;
  padding: 0;
  margin-bottom: .5rem;
}

.list-group-component h4 {
  font-size: 1rem;
  margin: 0;
  padding-top: .5rem;
}

.list-group {
  width: 50%;
}

.list-group a,
.list-group a:visited {
  text-decoration: none;
  color: #006DA3
}

.list-group a:hover {
  text-decoration: underline;
}

.list-group ul {
  margin: 0;
  padding: .5rem 0 .5rem 1rem;
}

.list-group.links ul {
  padding: 0;
}

.list-group.links li {
  list-style-type: none;
}

