.MuiPaper-root.MuiCard-root {
  border-radius: 0;
  box-shadow: none;
}

.MuiCardHeader-action {
  color: green;
}

.MuiCardActions-root {
  justify-content: center;
}

.MuiCardHeader-content,
.MuiCardContent-root .MuiTypography-body2 {
  text-align: center;
}

.MuiCardContent-root .MuiTypography-body2.no-description {
  opacity: 0.3;
}

.MuiCardHeader-title {
  font-size: 1.25rem;
  font-weight: normal;
  color: #C8102E;
}

.MuiCardHeader-subheader {
  color: black;
}