.MuiCardHeader-action {
  color: green;
}

.MuiCardActions-root {
  justify-content: center;
}

.MuiCardActions-root .MuiButton-root:hover,
.MuiCardActions-root .MuiButton-root {
  transform: skewX(-8deg) translateZ(0);
  padding: 0;
  font-size: .875rem;
  margin: .5rem 0 .5rem .5rem;
  text-transform: uppercase;
  background-color: #FFBF00;
  border-radius: 0;
}

.MuiCardActions-root .MuiButton-root a,
.MuiCardActions-root .MuiButton-root a:visited {
  padding: .5rem 1.5rem;
  color: black;
  text-decoration: none;
  transform: skewX(8deg) translateZ(0);
}

.MuiCardHeader-content,
.MuiCardContent-root .MuiTypography-body2 {
  text-align: center;
}

.MuiCardContent-root .MuiTypography-body2.no-description {
  opacity: 0.3;
}

.MuiCardHeader-title {
  font-size: 1.25rem;
  font-weight: normal;
  color: #C8102E;
}

.MuiCardHeader-subheader {
  color: black;
}