#main-nav button {
  color: #a5a4a2;
}

#main-nav button:hover, 
#main-nav button[aria-expanded="true"] {
  color:white;
}

#main-nav a {
  padding: 6px 8px;
  font-size: .875rem;
  font-weight: 500;
}

#main-nav .submenu {
  position: absolute;
  background-color: black;
  border: 1px solid #a5a4a2;
  width: 100%;
  top: 100%;
  left: 0;
}

#main-nav .submenu a {
  width: 100%;
  text-align: left;
}

#main-nav > ul {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #a5a4a2;
}

#main-nav > ul > li {
  width: 20%;
  text-align: center;
  align-items: center;
}

#main-nav > ul > li {
  position: relative;
}

#main-nav > ul > li:not(:last-child):after {
  content: "";
  position: absolute;
  background: #a5a4a2;
  width: 3px;
  height: 1rem;
  top: 1rem;
  right: 0;
}