.paragraph-links-component > div {
  display: flex;
  justify-content: space-between;
}

.paragraph-links-component .list-group-component {
  width: 50%;
}

.paragraph-links-component h2,
.paragraph-links-component h3 {
  margin: 0;
  padding: .5rem 0;
}

.paragraph-links-component .list-group-component ul {
  margin: 1.5rem 0;
}