html, body, #root, .App {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

main {
  margin-top: 147px;
  min-height: calc(100vh - 147px - 534px);
}

img {
  width: 100%;
  display: block;
}

header.main {
  background-color: black;
  color: #a5a4a2;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000;
}

header.main nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header.main nav > ul > li {
  display: inline-block;
}

header.main a:link,
header.main a:visited,
header.main .MuiButton-root {
  color: #a5a4a2;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 100%;  
}

header.main .MuiButton-root:hover,
header.main a:hover {
  color: white;
  cursor: pointer;
}

.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  margin: 0;
}

.padding-top {
  padding-top: 20px;
}
