.list-group-component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.list-group-component h3 {
  width: 100%;
  font-size: 1rem;
  padding: 0;
  margin-bottom: .5rem;
}

.list-group-component h4 {
  font-size: 1rem;
  margin: 0;
  padding-top: .5rem;
}

.list-group-component.two-columns{
  width: 50%;
}

.list-group-component a,
.list-group-component a:visited {
  text-decoration: none;
  color: #006DA3
}

.list-group-component a:hover {
  text-decoration: underline;
}

.list-group-component ul {
  margin: 0;
  padding: .5rem 0 .5rem 1rem;
}

.list-group-component.links ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.list-group-component.links li {
  list-style-type: none;
  width: 50%;
  padding-bottom: 1rem;
}
